<section id="bio" class="bio">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<header>
					<div class="bio__header">BIO /</div>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-6">			
				<div class="bio__name">John Smits</div>
				<div class="bio__avatar">
					<img src="img/avatar.png">
				</div>
					<ul class="socials">
					<li class="socials--item">
						<a href="#" class="socials--link linkedin"><i class="fa fa-linkedin-square"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link facebook"><i class="fa fa-facebook"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link flickr"><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link twitter"><i class="fa fa-twitter"></i></a>
					</li>
				</ul><!-- /socials -->
		</div>

			<div class="col-6">			
				<div class="bio__title">Best Solution is the simplest IDEA!</div>
				<p class="bio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel 
					diam non neque iaculis sollicitudin. Nunc nec massa et risus 
					iaculis interdum et sed mi. Nam viverra ac neque eu aliquet. 
					Maecenas posuere, neque non vestibulum sodales, arcu diam 
					interdum nulla, in molestie magna magna vitae justo. Aenean 
					semper volutpat sapien eu porta. Etiam vestibulum pharetra 
					risus vel ultricies. Phasellus tempus, enim sed gravida interdum, 
					lorem ipsum auctor libero, ut ultrices dolor dolor at nulla. 
					Integer viverra vitae velit eget tincidunt. Fusce tristique eros ac 
					est mattis consequat.</p>
					<p class="bio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel 
						diam non neque iaculis sollicitudin. Nunc nec massa et risus 
						iaculis interdum et sed mi. Nam viverra ac neque eu aliquet. 
						Maecenas posuere, neque non vestibulum sodales, arcu diam 
						interdum nulla, in molestie magna magna vitae justo.</p>
			</div>
		</div><!-- /row -->
	</div>
</section>