<section id="contact" class="contact">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<header class="contact_header">CONTACT /</header>	
				<div class="contact__tel">+39 123 45678 90</div>
				<div class="contact__mail">contact@smits.me</div>
				<div class="contact__address">124 Avenue Street, Los angeles,California</div>		
			</div>	
		</div>

	</div>
	<footer class="container">
		<div class="copyright">© Copyright 2013 The Uncreative Lab, All Rights Reserved.</div>
	</footer>
</section>			
				