<section id="main-menu" class="main-menu">
	<div class="container">
		<div class="row">
			<div class="col-2">			
				<a href="#header" >
					<div class="main-menu__main-link">.FOLIO</div>
				</a>			
			</div> <!-- /col-2 -->
			<div class="col-7">
				<nav class="navigation">
					<ul class="navigation__list">
						<li class="navigation__list--item">
							<a href="#portfolio" class="navigation__list--link">work</a>
						</li>
						<li class="navigation__list--item">
							<a href="#news" class="navigation__list--link">news</a>
						</li>
						<li class="navigation__list--item">
							<a href="#bio" class="navigation__list--link">bio</a>
						</li>
						<li class="navigation__list--item">
							<a href="#contact" class="navigation__list--link">contact</a>
						</li>										
					</ul> <!-- /navigation__list -->
				</nav>
			</div>
			<div class="col-3">
				<ul class="socials">
					<li class="socials--item">
						<a href="#" class="socials--link linkedin"><i class="fa fa-linkedin-square"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link facebook"><i class="fa fa-facebook"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link flickr"><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
					</li>
					<li class="socials--item">
						<a href="#" class="socials--link twitter"><i class="fa fa-twitter"></i></a>
					</li>
				</ul><!-- /main-menu__socials -->
			</div>
		</div><!-- /row -->
	</div>
</section>