<section id="news" class="news">
	<div class="container news-top">
		<div class="row">
			<header class="col-12">
				<h2 class="news__title">NEWS /</h2>
			</header>
		</div><!-- /row -->

		<div class="col-6">
			<article class="news__article">
				<header class="news__article--header">
					<div class="news__article--date">23 September 2013</div>
					<div class="news__article--tags"><i class="fa fa-tags"></i>Glamour, fashion</div>
				</header>
				<div class="news__article--content">
						<div class="news__article--title">Duis dapibus aliquam mi, eget euismod sem scelerisque ut.</div>
						<div class="news__article--image">
							<img src="img/photo-news.jpg"></img>
						</div>
						<p class="news__article--paragraph">Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
							ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
							sodales, arcu diam interdum nulla, in molestie magna magna vitae 
							justo. Aenean semper volutpat sapien eu porta. Etiam vestibulum 
							pharetra risus vel ultricies.</p>						
				</div>
				<footer class="news__article--footer">
					<span>Read more...</span><i class="fa fa-arrow-right"></i>
				</footer>
			</article>
		</div>
		<div class="col-6 tags">
			<div class="news__tags">
				<div class="news__tags--title">Tags</div>
				<ul class="news__tags--list">
					<li class="news__tags--list-item"><a href="#">Glamour</a></li>
					<li class="news__tags--list-item"><a href="#">Street</a></li>
					<li class="news__tags--list-item"><a href="#">Personal</a></li>
					<li class="news__tags--list-item"><a href="#">Portrait</a></li>
					<li class="news__tags--list-item"><a href="#">B&W</a></li>
					<li class="news__tags--list-item"><a href="#">Nude</a></li>
					<li class="news__tags--list-item"><a href="#">Wedding</a></li>
					<li class="news__tags--list-item active"><a href="#">Fashion</a></li>
					<li class="news__tags--list-item"><a href="#">Kids</a></li>
				</ul>
			</div>
			<div class="news__from-blog">
				<div class="news__from-blog--title">from the <span class="news__from-blog--title-uppercase">blog</span></div>
				<div class="news__from-blog--post">
					<div class="news__from-blog--post-avatar"><img src="img/blog-img.png"></div>
					<p class="news_from-blog--post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Morbi blandit velit id dolor fermentum, non 
						posuere libero posuere.</p>
					<div class="news_from-blog--post-date">26 Aug 2013</div>
				</div>

				<div class="news__from-blog--post">
					<div class="news__from-blog--post-avatar"><img src="img/blog-img.png"></div>
					<p class="news_from-blog--post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Morbi blandit velit id dolor fermentum, non 
						posuere libero posuere.</p>
					<div class="news_from-blog--post-date">26 Aug 2013</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="news__footer">
		<div class="container">
			<div class="news__footer--companies">
				<div><img src="img/canon logo.png" alt="canon logo"></div>
				<div><img src="img/nikon logo.png" alt="nikon logo"></div>
				<div><img src="img/manfrotto logo.png" alt="manfrotto logo"></div>
				<div><img src="img/prolight logo.png" alt="prolight logo"></div>
			</div>
		</div>
	</footer>	
</section>

