<section id="portfolio" class="portfolio">
	<div class="container">
		<div class="row">
			<header class="col-12">
				<h2 class="portfolio__title">PORTFOLIO /</h2>
			</header>					
		</div>
		<div class="row">
			<div class="col-12">
				<h3 class="portfolio__subtitle">Glamour  fashion  personal  street  portrait</h3>
			</div>
		</div>
		
<div class="portfolio__container">
        <div class="portfolio__item  portfolio__item-1">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-2">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-3">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-4">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-5 big350">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-6 big350">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-7 big350">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-8 big350">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-9 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-10 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-11 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-12 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-13">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-14 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-15 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-16 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-17 small">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
        <div class="portfolio__item  portfolio__item-18">
          <div class="portfolio__mask">
            <a href="#" class="portfolio__link  portfolio__link--zoom"></a>
            <a href="#" class="portfolio__link  portfolio__link--polaroid"></a>
            <a href="#" class="portfolio__link  portfolio__link--link"></a>
            <a href="#" class="portfolio__link  portfolio__link--info"></a>
            <a href="#" class="portfolio__link  portfolio__link--like"></a>
          </div>
        </div>
      </div>
	</div>
  
	<div class="portfolio__footer">
		<div class="container">
			<div class="row">
				<div class="col-12">    
          <blockquote class="quote"> 
            <div class="open-q-element">,,</div>  
  					<div class="portfolio__footer--quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>				
  					<div class="portfolio__footer--quote">Aenean vel diam non neque iaculis sollicitudin.</div>
            <div class="close-q-element">,,</div>
          </blockquote> 
				</div>
				<div class="col-12">
					<div class="portfolio__footer--quote-author">- lorem ipsum -</div>
				</div>				
			</div><!-- /row -->
		</div><!-- /container -->
	</div>

</section>