@font-face {
  font-family: Bebas;
  src: url(../fonts/BebasNeue-Regular.otf);
}
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
@media all and (min-width: 768px) {
  .container {
    width: 68%;
  }
}
@media all and (min-width: 1441px) {
  .container {
    width: 57%;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding: 0 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

@media all and (max-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
    float: none;
    width: 99.9%;
  }
}
.header {
  margin-bottom: 0;
  padding-top: 125px;
  padding-left: 3.7%;
  background-color: #252222;
  background: url("../img/header-bg-photo.png") no-repeat 50% 50%;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  height: 500px;
}
@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: -20px;
  }
}

.header__title,
.header__subtitle {
  font-family: Bebas;
  text-align: left;
  line-height: 1em;
}
@media only screen and (min-width: 768px) {
  .header__title,
  .header__subtitle {
    line-height: 0.75em;
  }
}

.header__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .header__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.625em;
    text-align: left;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 1441px) {
  .header__title {
    margin-left: 30px;
  }
}

.header__subtitle {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 2.25em;
    margin-left: 15px;
    letter-spacing: 0.005em;
  }
}
@media only screen and (max-width: 1441px) {
  .header__subtitle {
    margin-left: 30px;
  }
}

.main-menu {
  background-color: #252222;
}
@media only screen and (min-width: 768px) {
  .main-menu {
    margin-top: 0;
  }
}

.socials,
.navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .socials,
  .navigation__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-menu__main-link {
  margin: 20px auto;
  font-family: Bebas;
  font-size: 3em;
}
.main-menu__main-link:hover {
  color: #65ba99;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation {
  padding-right: 20px;
}
@media only screen and (max-width: 768px) {
  .navigation {
    padding-right: 0;
  }
}

.navigation__list--item {
  margin-bottom: 10px;
  padding: 5px;
}
.navigation__list--item:hover {
  border-bottom: 2px solid #65ba99;
}
@media only screen and (min-width: 768px) {
  .navigation__list--item {
    margin-top: 39px;
    margin-left: 20px;
  }
}

.navigation__list--link {
  display: block;
  font-family: Bebas;
  font-size: 1.125em;
}
.navigation__list--link:hover {
  color: #65ba99;
}

.socials {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-left: 18%;
}
@media only screen and (max-width: 768px) {
  .socials {
    padding-left: 0;
    padding-bottom: 20px;
  }
}

.socials--link {
  display: block;
  width: 33px;
  height: 33px;
  margin-top: 38px;
  background: white;
  border-radius: 50%;
}
.socials--link:hover {
  opacity: .5;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.socials--link .fa-facebook,
.socials--link .fa-twitter,
.socials--link .fa-linkedin-square,
.socials--link .fa-circle {
  font-size: 22px;
  line-height: 1.6;
  color: #252222;
}
.socials--link .fa-circle {
  margin: 1px;
  font-size: 14px;
  line-height: 2.2;
}

.portfolio {
  padding-top: 10px;
  background: #65ba99;
  text-transform: uppercase;
  color: white;
}

.portfolio__title {
  margin-bottom: 0;
  font-family: Bebas;
  font-size: 3em;
}

.portfolio__subtitle {
  margin-top: -5px;
  margin-bottom: 45px;
  font-family: Bebas;
  font-size: 1.5em;
  letter-spacing: .7px;
}

.portfolio__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px;
}

.portfolio__item {
  height: 255px;
  width: 25%;
  background: grey no-repeat center;
  background-size: cover;
  position: relative;
}
.portfolio__item:hover .portfolio__mask {
  opacity: 1;
}

.portfolio__item-1 {
  width: 50%;
  background-image: url(../img/1.jpg);
}

.portfolio__item-2 {
  width: 50%;
  background-image: url(../img/2.jpg);
}

.portfolio__item-3 {
  width: 50%;
  background-image: url(../img/3.jpg);
}

.portfolio__item-4 {
  width: 50%;
  background-image: url(../img/4.jpg);
}

.portfolio__item-5 {
  width: 25%;
  height: 350px;
  background-image: url(../img/5.jpg);
}

.portfolio__item-6 {
  width: 25%;
  height: 350px;
  background-image: url(../img/6.jpg);
}

.portfolio__item-7 {
  width: 25%;
  height: 350px;
  background-image: url(../img/7.jpg);
}

.portfolio__item-8 {
  width: 25%;
  height: 350px;
  background-image: url(../img/8.jpg);
}

.portfolio__item-9 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235.png);
}

.portfolio__item-10 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-1.png);
}

.portfolio__item-11 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-2.png);
}

.portfolio__item-12 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-3.png);
}

.portfolio__item-13 {
  width: 50%;
  height: 235px;
  background-image: url(../img/people-big-235.png);
}

.portfolio__item-14 {
  background-image: url(../img/people235-4.png);
  width: 25%;
  height: 235px;
}

.portfolio__item-15 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-5.png);
}

.portfolio__item-16 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-6.png);
}

.portfolio__item-17 {
  width: 25%;
  height: 235px;
  background-image: url(../img/people235-7.png);
}

.portfolio__item-18 {
  background-image: url(../img/people-big-235-2.png);
  width: 50%;
  height: 235px;
}

@media only screen and (max-width: 1100px) {
  .portfolio__item {
    width: 100%;
  }
}
.portfolio__item.small:hover .portfolio__link--polaroid,
.portfolio__item.small:hover .portfolio__link--link,
.portfolio__item.small:hover .portfolio__link--info,
.portfolio__item.small:hover .portfolio__link--like {
  width: 23.5%;
  margin-bottom: 0;
}
.portfolio__item.small:hover .portfolio__link--zoom {
  height: 68%;
}
.portfolio__item.small:hover .portfolio__mask {
  padding-bottom: 0px;
}

.portfolio__item.big350:hover .portfolio__link--polaroid,
.portfolio__item.big350:hover .portfolio__link--link,
.portfolio__item.big350:hover .portfolio__link--info,
.portfolio__item.big350:hover .portfolio__link--like {
  width: 25%;
  margin-top: 20px;
}
.portfolio__item.big350:hover .portfolio__link--zoom {
  height: 68%;
}
.portfolio__item.big350:hover .portfolio__mask {
  padding-bottom: 0px;
}

.portfolio__mask {
  position: absolute;
  background-color: rgba(101, 186, 153, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 30px;
  opacity: 0;
}

.portfolio__link {
  display: inline-block;
  width: 14%;
  height: 25%;
  background: no-repeat center;
}
@media only screen and (max-width: 768px) {
  .portfolio__link {
    width: 25%;
  }
}
.portfolio__link:hover:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.2);
}
.portfolio__link--zoom {
  width: 100%;
  height: 85%;
  background-image: url(../img/zoom.png);
  background-position: 50% 75%;
}
.portfolio__link--polaroid {
  background-image: url(../img/polaroid.png);
}
.portfolio__link--link {
  background-image: url(../img/link.png);
}
.portfolio__link--info {
  background-image: url(../img/info.png);
}
.portfolio__link--like {
  background-image: url(../img/like.png);
}

.portfolio__footer {
  margin-top: 100px;
  padding-top: 100px;
  background: url("../img/portfolio-photo.png") no-repeat 50% 50%;
  background-size: cover;
  letter-spacing: .3px;
}

.portfolio__footer--quote {
  font-family: Bebas;
  font-size: 2.25em;
}

.quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.open-q-element {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 10px;
  left: 6%;
  color: white;
  font-family: Bebas;
  font-size: 6.75em;
  line-height: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.close-q-element {
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: -30px;
  right: 8%;
  font-family: Bebas;
  font-size: 6.25em;
  line-height: 0;
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

@media only screen and (max-width: 1600px) {
  .open-q-element {
    left: 0;
  }
}
@media only screen and (max-width: 1220px) {
  .close-q-element {
    right: 0;
  }
}
.portfolio__footer--quote-author {
  margin-top: 18px;
  margin-bottom: 35px;
  padding-right: 13%;
  text-align: right;
  font-family: Bebas;
  font-size: 1.5em;
}

.news {
  background: #cdcdcd;
}
.news img {
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .news {
    padding-top: 28px;
  }
}

.news__title {
  font-family: Bebas;
  font-size: 3em;
}
@media only screen and (min-width: 768px) {
  .news__title {
    margin-bottom: 65px;
  }
}

.news__article--header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.news__article--date {
  background: #65ba99;
  font-size: .6875em;
}
@media only screen and (min-width: 768px) {
  .news__article--date {
    margin-left: 10px;
    padding: 0 20px 0 20px;
  }
}

.news__article--tags {
  font-size: .75em;
  color: #e74c3c;
}
.news__article--tags .fa-tags {
  margin-right: 10px;
  font-size: 14px;
  color: #65ba99;
}

.news__article--title {
  font-weight: 600;
  color: #65ba99;
}
@media only screen and (min-width: 768px) {
  .news__article--title {
    margin-top: 20px;
  }
}

.news__article--image {
  height: 200px;
  margin-top: 14px;
}
.news__article--image img {
  height: 100%;
}

.news__article--paragraph {
  font-size: .875em;
  color: #666767;
}
@media only screen and (min-width: 768px) {
  .news__article--paragraph {
    margin-left: 15px;
    text-align: left;
    letter-spacing: .47px;
    line-height: 20px;
  }
}

.news__article--footer {
  margin-top: -8px;
  margin-right: 5%;
  font-size: .875em;
  color: #e2534b;
  text-align: right;
}
.news__article--footer span {
  margin-right: 18px;
}

.tags {
  padding-left: 7.4%;
}

.news__tags--title {
  margin-bottom: 20px;
  font-family: Bebas;
  font-size: 1.125em;
  text-align: left;
  color: #59a386;
}
@media only screen and (max-width: 768px) {
  .news__tags--title {
    margin-top: 20px;
    text-align: center;
  }
}

.news__tags--list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .news__tags--list {
    margin-bottom: 47px;
  }
}

.news__tags--list-item {
  margin: 3px;
  padding: 2.5px 7.8px;
  margin-bottom: 7px;
  color: white;
  line-height: 20.8px;
  background: #65ba99;
}
.news__tags--list-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .7;
}
.news__tags--list-item:active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: .5;
}

.news__tags--list-item.active {
  background: #e2534b;
}

.news__from-blog--title {
  font-size: 1.25em;
  font-style: italic;
  color: #676767;
}
@media only screen and (min-width: 768px) {
  .news__from-blog--title {
    margin-left: -2px;
    margin-bottom: 20px;
    text-align: left;
  }
}

.news__from-blog--title-uppercase {
  font-style: normal;
  text-transform: uppercase;
}

.news_from-blog--post-text {
  font-size: .8125em;
  line-height: 1.5em;
  color: #252222;
}
@media only screen and (min-width: 768px) {
  .news_from-blog--post-text {
    text-align: left;
    margin-left: 90px;
    margin-bottom: 0;
  }
}

.news_from-blog--post-date {
  font-size: .8125em;
  color: #e2534b;
}
@media only screen and (min-width: 768px) {
  .news_from-blog--post-date {
    text-align: left;
    margin-left: 90px;
    margin-bottom: 15px;
  }
}

.news__from-blog--post-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
}
@media only screen and (max-width: 768px) {
  .news__from-blog--post-avatar {
    left: 30px;
  }
}

.news-top {
  padding-bottom: 73px;
}

.news__footer {
  background-color: #bebebe;
}

.news__footer--companies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.news__footer--companies img {
  max-width: 100%;
  padding-bottom: 15px;
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .news__footer--companies img {
    padding-bottom: 65px;
    padding-top: 85px;
  }
}

.bio {
  padding-top: 40px;
  background: #e2534b;
  color: white;
}
.bio .socials {
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .bio .socials {
    margin-bottom: 80px;
  }
}
.bio .socials .socials--item {
  margin: 0 7.5px;
}

.bio__header {
  margin-bottom: 43px;
  font-family: Bebas;
  font-size: 3em;
  color: black;
}

.bio__name {
  margin-bottom: 30px;
  font-family: Bebas;
  text-transform: uppercase;
  font-size: 2.25em;
}
@media only screen and (min-width: 768px) {
  .bio__name {
    margin-top: -5px;
    margin-left: -5px;
    margin-bottom: 25px;
  }
}

.bio__title {
  margin-bottom: 10px;
  font-family: Bebas;
  text-transform: uppercase;
  font-size: 1.125em;
}
@media only screen and (min-width: 768px) {
  .bio__title {
    padding-top: 7px;
    margin-left: 15px;
    text-align: left;
  }
}

.bio__text {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .bio__text {
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .7px;
    text-align: left;
  }
}

.contact {
  margin-top: -16px;
  color: white;
  background: url("../img/photo-contact.png") no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .contact {
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 30px;
  }
}

.contact_header,
.contact__tel,
.contact__mail,
.contact__address {
  font-family: Bebas;
}

.contact_header {
  font-size: 3em;
  color: black;
}
@media only screen and (min-width: 768px) {
  .contact_header {
    padding-bottom: 47px;
  }
}

.contact__tel {
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) {
  .contact__tel {
    font-size: 3em;
    padding-bottom: 15px;
  }
}

.contact__mail {
  display: inline-block;
  font-size: 1.3em;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .contact__mail {
    font-size: 3.75em;
    padding: 9px 121px;
    letter-spacing: .08em;
    border: 5px solid white;
  }
}

.contact__address {
  font-size: 1.3em;
  padding-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .contact__address {
    font-size: 1.875em;
    margin-top: 15px;
    margin-bottom: 100px;
    letter-spacing: .015em;
  }
}

.copyright {
  font-size: .875em;
}
@media only screen and (min-width: 768px) {
  .copyright {
    font-size: 0.87em;
    font-weight: bold;
  }
}
